
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500&family=Outfit&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background-color: #D6E2F0
}

.container{
    width: 25%;
    height: 75vh;
    margin: 50px auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
}

.img-box {
    border-radius: 10px;
    width: 95%;
    height: 60%;
    background-image: url(/images/image-qr-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 
    20px auto;
}

.text-box{
    text-align: center;
    height: 30%;
    margin: 0 10px;
    color: #7B879D;
}

h2{
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 5px;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: #1F3251;
}

p{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 400;
}